.DS_Store
packer_compiled.lua

albert/
all-certificates/
chromium/
configstore/
dconf/
envman/
git/gitk
htop/
kitty/themes.conf
kitty/themes.conf.bak
kitty/current-theme.conf
lazygit/state.yml
nushell/history*.*
nvim/lazy-lock.json
pulse/
qt*/
raycast/extensions/
scoop/
spotify-tui/
Thunar/
wezterm/
xarchiver/
xfce4/
zed/conversations/
zed/prompts/
zed/themes/
.aider*
atuin/atuin-receipt.json
