; [include]
;     path = ~/.config/delta/themes.config

[user]
    name = Ammar Arjomand
    email = persiancookbook@gmail.com

[core]
    ; pager = delta
    excludesfile = ~/.gitignore_global

[pager]
    blame = delta
    show = delta
    log = delta
    blame = delta
    reflog = delta

[delta]
    navigate = true
    side-by-side = true 
    file-style = box
    hyperlinks = true
    hyperlinks-file-link-format = "file-line://{path}:{line}"
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    hunk-header-style = omit
    line-numbers = true
    line-numbers-left-format = " {nm:>3} │"
    line-numbers-right-format = " {np:>3} │"
    commit-decoration-style = normal box
    blame-code-style = syntax
    blame-format = "{author:>18} ({commit:>8}) {timestamp:<13} "
    merge-conflict-begin-symbol = ⌃
    merge-conflict-end-symbol = ⌄
    keep-plus-minus-markers = false
    syntax-theme = None

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[difftool]
    prompt = false
    trustExitCode = true

[pull]
    rebase = false

[interactive]
    diffFilter = delta --color-only

[delta "interactive"]
    keep-plus-minus-markers = false

; [delta "LIGHT"]
;     ; features = mirthful-willow
;     features = chameleon zebra-light
;
; [delta "DARK"]
;     features = mellow-barbet
;     ; features = gruvmax-fang zebra-dark

[alias]
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[page]
    diff = delta
    show = delta
    log = delta
    blame = delta
    reflog = delta

[delta "tokyonight_day"]
    light                         = true
    minus-style                   = syntax "#dababe"
    minus-non-emph-style          = syntax "#dababe"
    minus-emph-style              = syntax "#d59a9d"
    minus-empty-line-marker-style = syntax "#dababe"
    line-numbers-minus-style      = "#c47981"
    plus-style                    = syntax "#b7ced5"
    plus-non-emph-style           = syntax "#b7ced5"
    plus-emph-style               = syntax "#95bec7"
    plus-empty-line-marker-style  = syntax "#b7ced5"
    line-numbers-plus-style       = "#4197a4"
    line-numbers-zero-style       = "#a8aecb"

[delta "tokyonight_storm"]
    dark                          = true
    minus-style                   = syntax "#52313f"
    minus-non-emph-style          = syntax "#52313f"
    minus-emph-style              = syntax "#763842"
    minus-empty-line-marker-style = syntax "#52313f"
    line-numbers-minus-style      = "#914c54"
    plus-style                    = syntax "#2b485a"
    plus-non-emph-style           = syntax "#2b485a"
    plus-emph-style               = syntax "#316172"
    plus-empty-line-marker-style  = syntax "#2b485a"
    line-numbers-plus-style       = "#449dab"
    line-numbers-zero-style       = "#3b4261"
